@media screen and (max-width: 1400px){
	header{
		width: 1140px;
	}
}

@media screen and (max-width: 1200px){
	header{
		width: 960px;
	}

	.photo{
		.text_block{
			width: 50%
		}
		img{
			width: 384px;
			height: 650px;
			object-fit: cover;
		}
	}

	.work_experiance{
		width: 960px;
		.card{
			h3{
			width: 1px;
			}
		}
	}

	.philosophy_values{
		width: 960px;
	}	

	.skillset{
		width: 960px;

	}

	.icons{
		script{
			display: none;
		}
	}
}

@media screen and (max-width: 992px){
	header{
		width: 720px;
		nav{
			margin-left: 64px;
		}
	}

	.work_experiance{
		width: 720px;
	}

	.philosophy_values{

	}
}

@media screen and (max-width: 768px){
	header{
		width: 540px;
		margin-top: 16px;
		nav{
			display: none !important;
		}
		.burger{
			display: block !important;
		}
	}

	.menu{
		nav{
			display: block !important;
		}
	}

}

@media screen and (min-width: 768px){
	.menu{
		top: -100% !important;
	}
}