$black: #000000;
$black_level1: #181823;

$light_grey: #8491A0;
$dark_grey: #5B6876;

$white: #FFFFFF;

$purple: #5221E6;

$green_accent: #3CC74E;
$pink_accent: #E95D90;
$peach_accent: #FFF3E4;
$violet_accent: #FBE4FF;
$blue_accent: #609BFF;

$trans_nav: .5s;
$trans_btn: .5s